{# templates/admin/index.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Algunos Datos básicos de todos los paises del mundo{% endblock %}

{% block main %}

    <table class="datagrid">
        <thead>
            <tr>
                <td><h5>Símbolo</h5></td>
                <td><h5>Acción correspondiente<h5></td>
            </tr>
        </thead>
        <tbody>
            {# for data in my_own_data #}
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="fa fa-home"></i> Panel de control: </td>
                    <td>Acceso a este mismo panel de control</td>
                </tr>
                <tr>
                    <td><i class="fa-regular fa-flag"></i> Paises: </td>
                    <td>Listar, editar, modificar, insertar o borrar paises manualmente de nuestro listado</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-angles-down"></i> Importar paises faltantes: </td>
                    <td>Mediante esta utilidad nos conectamos a un punto de datos externo (endpoint) e importamos todos los paises existentes que NO estén ya incluidos en nuestra base de datos.
                    <br>El único criterio para hacerlo es comparar el nombre común de cada país en nuestra base de datos con el del repositorio externo.
                    <br>Si no existe, lo importamos.</td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-file-import"></i> Solo datos de un país: </td>
                    <td>Listar, editar, modificar, insertar o borrar paises manualmente de nuestro listado</td>
                </tr>
                 <tr>
                    <td><i class="fa-solid fa-person-through-window"></i> Logout: </td>
                    <td>Abandonar este panel de control</td>
                </tr>



                
            {# endfor #}
        </tbody>
    </table>
    
{% endblock %}

